:root {
    --main-font: var(--sans-font);
    --heading-color: #e64708;
    --dark-accent-bg: #548289; /*#5a9dad; */
    --heading-font: "Lucida Grande", Corbel, "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
    --border-radius-big: calc(var(--border-radius) * 3);
}
body.light-theme {
    --bg: #ddeeff99;
    --accent-bg: #c4e2e9;
    --card-bg: #f5f5f5;
    --card-bg-hover: #fff5e6;
    --button-text: var(--card-bg);
}
.bg-dark-accent {
    background: var(--dark-accent-bg);
}
body {
    --font-size: 1.3125em;
}

.borad {
    border-radius: var(--border-radius-big);
}


/* Reverse Avec defaults wrt this */
a, [role="link"] {
    text-decoration: none;
}
a:hover, [role="link"]:hover {
    text-decoration: underline;
}

h1, h2, h3, h4 {
    font-weight: normal;
    color: var(--heading-color);
}
h2 > a, h3 > a, h4 > a {
    color: var(--heading-color);
}

/* Header */
header nav a, header nav [role="link"], header nav [role="dropdown"] {
    color: var(--text);
}
header nav a.active,
header nav [role="link"].active,
header nav [role="dropdown"].active {
    color: var(--text-vivid);
    font-weight: bold;
}
header nav [role="dropdown"] a:not(.active) {
    font-weight: normal;
}
nav svg.feather {
    height: 1em;
    width: 1em;
    display: inline-block;
    position: relative;
    top: .2em;
}

details[role="dropdown"] li a {
    display: block;
}

/* Footer */
footer a {
    text-decoration: none;
}
footer .tagline {
    font-size: larger;
}
footer .repo {
    line-height: 1.2;
}
footer .copyright {
    font-size: smaller;
}

/* Table of contents sidebar: */
/* (1) Increased spacing */
main.items-fixed {
    --column-gap: calc(var(--spacing) * 3);
}
/* (2) Mobile/tablet hidden with trigger, desktop visible */
article.toc {
    display: none;
}
details.toc-trigger {
    font-size: small;
    border: none;
}
details.toc-trigger[open] + article.toc {
    display: block;
}
/* (3) Position (in md and above) */
@media (min-width: 960px) {
    details.toc-trigger {
        display: none;
    }
    article.toc {
        display: block;
        position: -webkit-sticky;
        position: sticky;
        top: var(--spacing);
    }
}

/* (4) Link appearance */
article.toc ul {
    list-style: none;
    margin: calc(var(--spacing) * 0.5) 0;
    padding: 0;
    line-height: 1.2;
}
article.toc li {
    margin: 0;
    padding: calc(var(--spacing) * 0.5) 0;
    font-weight: normal;
}
article.toc > ul > li:first-child {
    font-weight: bold;
}


/* Title + subtitle. */
/* Title heading of page */
[role="main"] > h1:first-child {
    /*
    font-size: 3.75rem;
    font-weight: 200;
    */
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    border-bottom: 2px solid var(--heading-color);
}

/* Mobile menu */
nav .menu .menu-inner ul {
    list-style: none;
    line-height: 1.5;
}
nav .menu .menu-inner ul {
    padding-left: 1.5rem;
}
nav .menu .menu-inner > ul {
    padding-left: 1rem;
}

/* More border-radius for article (teasers + lyrics sections) */
main article {
    border-radius: var(--border-radius-big);
}
main article > header {
    background: transparent;
}
main article > header img {
    border-top-left-radius: var(--border-radius-big);
    border-top-right-radius: var(--border-radius-big);
}
/* Card hover mode */
article:hover {
  background: var(--card-bg-hover) !important;
}

/* Images */
figure {
    display: table;
    margin: var(--spacing) auto;
    position: relative;
}
figure > img {
    display: block;
}
figcaption p {
    margin: 0;
}
figcaption {
    display: table-caption;
    caption-side: bottom;
    width: 100%;
    text-align: left;
    font-size: smaller;
    padding: var(--spacing);
    background: #0000000c;
}
@media (min-width: 960px) {
    figcaption {
        position: absolute;
        bottom: 0;
        margin-bottom: 0;
        color: white;
        background: #00000088;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 1s linear;
    }
    figure:hover figcaption {
        visibility: visible;
        opacity: 1;
    }
}
.grid figure {
    align-self: start;
}
.imgalign-center {
    margin: 1em auto;
    text-align: center;
}
@media (min-width: 768px) {
    /* Image floats */
    .imgalign-right {
        float: right;
        clear: right;
        margin-left: 2em;
    }
    .imgalign-left {
        float: left;
        clear: left;
        margin-right: 2em;
    }
}

/* Image grid */
.galleri, .gallery {
    margin: var(--spacing) auto;
    text-align: center;
}
@media (min-width: 768px) {
    .galleri, .gallery {
        display: flex;
        gap: 20px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: start;
    }
    .galleri img, .gallery img {
        max-width: 345px;
        margin: 0;
    }
}
@media (min-width: 960px) {
    .gallery img, .galleri img {
        max-width: 445px;
    }
}

/* Lyrics are represented as <pre> */

pre {
    background: var(--card-bg);
    border-radius: var(--border-radius-big);
    box-shadow: var(--box-shadow);
    margin: calc(var(--spacing) * 2) 0;
    padding: var(--spacing) calc(var(--spacing) * 2);
    white-space: pre-wrap;
    word-wrap: normal;
    display: table;
}
pre code {
    font-family: var(--sans-font);
    font-size: inherit;
}
article pre {
    background: none;
    border-radius: 0;
    box-shadow: none;
    border: none;
}

@media (min-width: 768px) {
    pre {
        padding: calc(var(--spacing) * 2) calc(var(--spacing) * 3);
    }
}

/* Videos + Iframes */
video, iframe {
    width: 100%;
    height: auto;
    margin: var(--spacing) 0;
    aspect-ratio: 16 / 9;
    clear: both;
}
/* Older videos */
.aspect-4-3 {
    aspect-ratio: 4 / 3;
}

/* Clear to push down after floats */
.clear {
    width: 100%;
    clear: both;
}

/* Pill-like tag link */
a.tag {
    background: var(--accent);
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 0 var(--spacing);
    opacity: .8;
    border-radius: var(--border-radius-big);
}
a.tag:hover {
    opacity: 1;
}

blockquote {
    background: url(/static/img/quotes.gif) no-repeat calc(var(--spacing) * 1.5) calc(var(--spacing) * 2.5);
    background-color: var(--accent-bg);
    padding: calc(var(--spacing) * 2);
    padding-left: calc(var(--spacing) * 6);
    margin-left: var(--spacing);
    border: none;
    min-height: 2.30769230769231rem;
}
blockquote > p:first-child {
    margin-top: 0;
}
blockquote > p:last-child {
    margin-bottom: 0;
}
@media (max-width: 767px) {
    blockquote {
        font-size: .9524em;
    }
}

button, [role="button"], input[type="submit"], input[type="reset"], input[type="button"] {
    font-size: inherit;
}

/* Special links */
a[href*=".mp3"], a[href*=".m4a"] {
    display: inline-block;
    padding-left: 1.315em;
    background: url(/img/icons/volume-2-blue.svg) left center no-repeat;
}

/* Multicolumn lyrics */
@media (min-width: 768px) {
    article pre > code {
        padding-left: 30px;
    }
    article.kolonner pre {
        display: block;
    }
    article.kolonner pre > code {
        column-count: 2;
        column-gap: 40px;
        column-rule: 2px solid #e5e5e5;
        column-width: 274px;
    }
}
@media (min-width: 960px) {
    article.kolonner pre > code {
        column-width: 370px;
    }
}

h2.fp-section {
    text-transform: uppercase;
    font-size: var(--h6-size);
    letter-spacing: 1px;
    font-weight: bold;
    margin-top: 2em;
    margin-bottom: 0;
}

.big-teaser {
    background: var(--card-bg-hover);
    border-radius: var(--border-radius-big);
}
.big-teaser img {
    border-top-left-radius: var(--border-radius-big);
    border-top-right-radius: var(--border-radius-big);
}
@media (min-width: 768px) {
    .big-teaser .intro {
        padding-bottom: 0;
    }
    .big-teaser img {
        border-top-right-radius: 0;
        border-bottom-left-radius: var(--border-radius-big);
    }
}
@media (min-width: 960px) {
    .big-teaser .intro {
        font-size: larger;
    }
    .big-teaser.newest .intro h3 {
        font-size: var(--h2-size);
    }
}

.round-teaser {
    border-radius: var(--border-radius-big);
    box-shadow: var(--box-shadow);
    position: relative;
    min-height: 18rem;
    margin-top: 3rem;
    background: var(--card-bg-hover);
}
.round-teaser > a {
    display: block;
    height: 20rem;
    width: 20rem;
    position: relative;
    top: -1rem;
    margin: 0 auto;
}
.round-teaser > a img {
    box-shadow: var(--box-shadow);
    border: 1px solid var(--contrast-bg);
}
.round-teaser > .intro {
    padding: var(--spacing) calc(var(--spacing) * 2);
    padding-top: 0;
}
.tag-teaser .intro p {
    text-align: center;
    margin: 0;
    font-size: 1rem;
    line-height: 1.2;
}
.tag-teaser > a {
    display: block;
    position: relative;
}
.tag-teaser > a > span {
    position: absolute;
    bottom: 2rem;
    left: 0;
    right: 0;
    font-size: 1.2rem;
    text-align: center;
    padding: .5rem;
    color: white;
    font-weight: bold;
    background: #0004;
}
@media (min-width: 768px) {
    .round-teaser {
        display: flex;
    }
    .round-teaser > a {
        position: absolute;
        left: 1rem;
    }
    .round-teaser > .intro {
        flex: 1;
        margin-left: 21rem;
        margin-top: auto;
        margin-bottom: auto;
    }
    .round-teaser.reversed > a {
        left: auto;
        right: 1rem;
    }
    .round-teaser.reversed > .intro {
        margin-left: 0;
        margin-right: 21rem;
    }
    .tag-teaser .intro {
        align-self: center;
    }
}
