// Basic settings: font size, links, headings

body {
    --font-size: 1.3125em;
}

.borad {
    border-radius: var(--border-radius-big);
}


/* Reverse Avec defaults wrt this */
a, [role="link"] {
    text-decoration: none;
}
a:hover, [role="link"]:hover {
    text-decoration: underline;
}

h1, h2, h3, h4 {
    font-weight: normal;
    color: var(--heading-color);
}
h2 > a, h3 > a, h4 > a {
    color: var(--heading-color);
}

button, [role="button"], input[type="submit"], input[type="reset"], input[type="button"] {
    font-size: inherit;
}

/* Special links */
a[href*=".mp3"], a[href*=".m4a"] {
    display: inline-block;
    padding-left: 1.315em;
    background: url(/img/icons/volume-2-blue.svg) left center no-repeat;
}

