// Header
// See also: _mobile-menu.scss.

header nav {
    > ul {
        padding-top: .125rem;
    }
    a, [role="link"], [role="dropdown"] {
        color: var(--text);
        &.active {
            color: var(--text-vivid);
            font-weight: bold;
        }
    }
    [role="dropdown"] a:not(.active) {
        font-weight: normal;
    }
}

nav svg.feather {
    height: 1em;
    width: 1em;
    display: inline-block;
    position: relative;
    top: .2em;
}

details[role="dropdown"] li a {
    display: block;
}
