// IMAGES

[role="main"] .mdcontent img {
    border-radius: var(--border-radius);
}

figure {
    display: table;
    margin: var(--spacing) auto;
    position: relative;
    img {
        display: block;
    }
    figcaption {
        display: table-caption;
        caption-side: bottom;
        width: 100%;
        text-align: left;
        font-size: smaller;
        padding: var(--spacing);
        background: #0000000c;
        p {
            margin: 0;
        }
    }
    @media (min-width: 960px) {
        &:not(.pdf-img) {
            figcaption {
                position: absolute;
                bottom: 0;
                margin-bottom: 0;
                color: white;
                background: #00000088;
                visibility: hidden;
                opacity: 0;
                transition: visibility 0s, opacity 1s linear;
            }
        }
        &:hover {
            figcaption {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}

// Images representing linked pdf files

figure.pdf-img img, img.pdf-img {
    background: white;
    padding: 1rem;
    max-width: 320px;
}

// Alignment classes

.imgalign-center {
    margin: 1em auto;
    text-align: center;
}

@media (min-width: 768px) {
    /* Image floats */
    .imgalign-right {
        float: right;
        clear: right;
        margin-left: 2em;
    }
    .imgalign-left {
        float: left;
        clear: left;
        margin-right: 2em;
    }
}

// Image grid kind of thing

.galleri, .gallery {
    margin: calc(var(--spacing) * 3) auto;
    text-align: center;
    @media (min-width: 768px) {
        display: flex;
        gap: 20px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: start;
        img {
            max-width: 345px;
            margin: 0;
        }
        figure {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    @media (min-width: 960px) {
        img {
            max-width: 445px;
        }
    }
}

.grid figure {
    align-self: start;
}
