// Lyrics are represented as <pre>

pre {
    background: var(--card-bg);
    border-radius: var(--border-radius-big);
    box-shadow: var(--box-shadow);
    margin: calc(var(--spacing) * 2) 0;
    padding: var(--spacing) calc(var(--spacing) * 2);
    white-space: pre-wrap;
    word-wrap: normal;
    display: table;
    @media (min-width: 768px) {
        padding: calc(var(--spacing) * 2) calc(var(--spacing) * 3);
    }
    code {
        font-family: var(--sans-font);
        font-size: inherit;
        @media (min-width: 768px) {
            padding-left: 30px;
        }
    }
}

// Frames around an entire lyrics section, including heading and surrounding text

article pre {
    background: none;
    border-radius: 0;
    box-shadow: none;
    border: none;
}
article.gitargrip pre code {
    font-family: var(--mono-font);
    font-size: 1.15rem;
}


// Multicolumn lyrics in tablet and desktop

article.kolonner pre {
    @media (min-width: 768px) {
        display: flex; // better in Safari than 'block'
        > code {
            column-count: 2;
            column-gap: 40px;
            column-rule: 2px solid #e5e5e5;
            column-width: 274px;
        }
    }
    @media (min-width: 960px) {
        > code {
            column-width: 370px;
        }
    }
}

article.kolonner-md pre {
    @media (min-width: 960px) {
        display: flex; // better in Safari than 'block'
        > code {
            column-count: 2;
            column-gap: 40px;
            column-rule: 2px solid #e5e5e5;
            column-width: 370px;
        }
    }
}
