.newspaper-columns {
    @media (min-width: 768px) {
        columns: 19rem auto;
        padding-top: 1em;
        > ol, > ul, > p {
            margin-top: 0;
        }
    }
    &.narrow {
        columns: 10rem auto;
        padding-top: 1em;
        > ol, > ul, > p {
            margin-top: 0;
        }
    }
}
