h2.fp-section, h4.section {
    font-weight: bold;
    text-transform: uppercase;
}
h2.fp-section {
    font-size: var(--h6-size);
    letter-spacing: 1px;
    margin-top: 2em;
    margin-bottom: 0;
}
h4.section {
    font-size: 1rem;
    color: var(--text-light);
}

